#background_page1 {
	background-image: url("rose.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: auto;
	width: auto;
	height: 100vh;
} 

#background_page2 {
	background-image: url("silver.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: auto;
	width: auto;
	height: 100vh;
} 

#background_page3 {
	background-image: url("grey.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: auto;
	width: auto;
	height: 100vh;
} 

#background_page4 {
	background-image: url("silver.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: auto;
	width: auto;
	height: 100vh;
	padding-bottom: 0px;
}

#intro {
	height: 100vh;
}

#projectone {
	height: 100vh;
}

#projecttwo {
	height: 100vh;
}

#contact {
	height: 100vh;
}

#chatroom-img {
    height: 100%; 
    width: 100%; 
    max-width: 3500px; 
    max-height: 350px;
	padding-top: 100px;
	padding-left: 40px;
}

#lemonade-img {
    height: 100%; 
    width: 100%; 
    max-width: 400px; 
    max-height: 500px;
	padding-top: 120px;
	padding-left: 40px;
	
}

.center-objects {
	float: middle;
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.navbar {
  width: 100%;
  background: none;
  margin-top: 10px;
}

.sidenav {
	padding-top: 50%;
}

button {

    background: transparent;
    border: none !important;
}

.pull-right {
    float: right!important;
}

#navbutton {
		font-size: 40px;
		margin-right: 30px;
}

#collapsingNavbar1 {
	float: right;
	font-family: 'Noto Serif', serif;
	font-size: 20px; 
	}

.Welcome {
	font-family: 'Noto Serif', serif;
}

body, html, .container-fluid {
  height: 100;
}

	
	